[default]
debug = True

[mailserver]
server = localhost
port = 25

[plenumsmail]
sender = meisterbot@
receiver = welikespam@
reply_receiver = indeedabot@
invite = Freude, Freude, es ist wieder soweit:
 	
	Das ehrenwuerdige Plenum tagt!
	
	Am naechsten Dienstag in der wunderbaren Trollhoehle[1].
	Wir freuen uns auf zahlreiche Teilnahme und viele fleissige Haende beim vorherigern FSCKen.
	
	Ueber Themenvorschlaege freut sich die Plenumsseite[2]
	
	Das Programm:
	
	  19:00 Entruempeln der Trollhoehle
	  20:00 Plenum
	
	[1] https://wiki.chaos-darmstadt.de/wiki/Anfahrt 
	[2] https://wiki.chaos-darmstadt.de/wiki/Plenum
	
	/// Ewige Blumenkraft, der biobot
subject = Plenum am naechsten Dienstag in der Trollhoehle

